.rojo {
    color: var(--ion-color-danger);
}

.verde {
    color: var(--ion-color-success);
}

.fotocard {
    height: 290px;
    display: block;
    align-items: center;
    justify-content: center;
}

.welcome-card {
    margin-top: 0px;
}

.botonlisto {
    font-size: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}