.rojo {
    color: var(--ion-color-danger);
}

.verde {
    color: var(--ion-color-success);
}

.fotocard {
    height: 290px;
    display: block;
    align-items: center;
    justify-content: center;
}