<ion-header>
    <ion-toolbar color="mango">
        <ion-buttons slot="start">
            <ion-button (click)="salir()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Retiro # {{ item?.id_paquete }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="tomarFoto()">
                <ion-icon slot="icon-only" size="large" name="camera-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

    <ion-list style="margin-top:5px;">

        <p style="margin-left: 20px; margin-right: 20px; font-size: 75%;text-align: justify;">
            Debe validar que todos los datos entregados son correctos marcando cada una de las opciones. También puede ingresar una observación o comentario. Una vez que haya marcado todos los ítemes, si corresponde, pulse 'Retirar encomienda'. Esta opción moverá
            la encomienda de pendiente a 'Acopios'.
        </p>

        <ion-list-header style="margin-top:20px; margin-bottom:20px">
            <ion-label><b>
                <div *ngIf=" item.tipo_pago === 'PRE-PAGO' ">
                    <h1 class="rojo ion-text-center">{{ item.tipo_pago }} ${{ item.valor_cobrado | number:"1.0-0" }}.-</h1>
                </div>
                <div *ngIf=" item.tipo_pago !== 'PRE-PAGO' ">
                    <h1 class="rojo ion-text-center">{{ item.tipo_pago }}</h1>
                </div>
                <p class="rojo ion-text-center"> {{ item.desc_pago }}</p>
            </b></ion-label>
        </ion-list-header>

        <ion-item>
            <ion-checkbox color="mango" slot="start" name="it[0]" [(ngModel)]="it[0]"></ion-checkbox>
            <ion-label>{{ item.cli_razon }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="mango" slot="start" name="it[1]" [(ngModel)]="it[1]"></ion-checkbox>
            <ion-label>{{ item.cli_direccion }}, {{ item.cli_comuna }}, {{ item.cli_ciudad }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="mango" slot="start" name="it[2]" [(ngModel)]="it[2]"></ion-checkbox>
            <ion-label>{{ item.obs_carga }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="mango" slot="start" name="it[3]" [(ngModel)]="it[3]"></ion-checkbox>
            <ion-label>Bultos: {{ item.bultos }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="mango" slot="start" name="it[4]" [(ngModel)]="it[4]"></ion-checkbox>
            <ion-label>Peso: {{ item.peso }}Kg. Volumen: {{ item.volumen }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="margin-left: 42px;" position="staked">Nro.Guía o Bol. o Fact.:</ion-label>
            <ion-input type="number" name="nroDocumento" [(ngModel)]="nroDocumento"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Observaciones al retirar</ion-label>
            <ion-textarea rows="3" placeholder="Sus comentarios aquí..." name="item.obs_pickeo" [(ngModel)]="item.obs_pickeo"></ion-textarea>
        </ion-item>

        <ion-card *ngIf=" foto " class="fotocard">
            <img [src]="foto">
            <ion-card-content style="margin-bottom: 0px;">
                <ion-button fill="clear" expand="block" (click)="eliminarFoto()" style="margin-top: -300px;">
                    <ion-icon color="light" slot="end" name="trash-outline" size="large"></ion-icon>
                </ion-button>
            </ion-card-content>
        </ion-card>

        <ion-row style="font-size: 80%;margin-top: 25px;padding-left: 20px;padding-right:20px">
            <ion-col size="4">
                <ion-button expand="block" size="small" share="round" color="" (click)="salir()">
                    Abandonar
                </ion-button>
            </ion-col>
            <ion-col size="8">
                <ion-button expand="block" size="small" share="round" color="mango" (click)="retirar()">
                    Retirar encomienda
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-list>

</ion-content>