.rojo {
    color: var(--ion-color-danger);
}

.verde {
    color: var(--ion-color-success);
}

ion-checkbox {
    margin-right: 20px;
}

ion-segment {
    margin-top: 20px;
}

.fotocard {
    height: 290px;
    display: block;
    align-items: center;
    justify-content: center;
}

.picker {
    width: 30rem;
    max-width: 80%;
    height: 20rem;
    max-height: 30vh;
    border: 1px solid var(--ion-color-primary);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}