.rojo {
    color: var(--ion-color-danger);
}

.verde {
    color: var(--ion-color-success);
}

ion-checkbox {
    margin-right: 20px;
}

.fotocard {
    height: 240px;
    display: block;
    align-items: center;
    justify-content: center;
}