<ion-header>
    <ion-toolbar color="mango">
        <ion-buttons slot="start">
            <!-- <ion-button *ngIf=" logeado " (click)="menuToggle()"><ion-icon slot="icon-only" name="menu"></ion-icon></ion-button> -->
            <ion-button (click)="volver()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Acceso Principal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">

        <img src="assets/images/login.jpg" alt="imagen del login">

        <ion-card-header>
            <ion-card-title class="ion-text-center" style="font-size:150%;">Ingresar a HVC-Cargo</ion-card-title>
        </ion-card-header>

        <ion-card-content style="padding-top: 5px; text-align: justify;">
            <ion-list>
                <ion-item>
                    <ion-label position="stacked">Email</ion-label>
                    <ion-input autocomplete="off" type="text" name="miEmail" [(ngModel)]="miEmail"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Password</ion-label>
                    <ion-input autocomplete="off" type="password" name="miClave" [(ngModel)]="miClave"></ion-input>
                </ion-item>
                <ion-row style="font-size: 70%;margin-top: 10px;">
                    <ion-col *ngIf=" !datos.logeado ">
                        <ion-button style="margin-top: 40px;" color="primary" expand="block" fill="outline" size="small" (click)="login()">Validar estos datos e ingresar</ion-button>
                    </ion-col>
                </ion-row>

                <img style="margin-bottom: 25px; margin-top:20px;" class="img kntk" src="assets/images/logo-kinetik.png" alt="mi_logo">

            </ion-list>
            <ion-progress-bar *ngIf=" cargando " type="indeterminate"></ion-progress-bar>

        </ion-card-content>

    </ion-card>

</ion-content>