<ion-header>
    <ion-toolbar color="mango">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Retiros</ion-title>
    </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf=" cargando " type="indeterminate"></ion-progress-bar>

<ion-content class="animated fadeIn">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Tire para refrescar" refreshingSpinner="circles" refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card class="welcome-card">
        <img src="assets/images/mispdf.jpg" alt="x1">
    </ion-card>

    <ion-list>
        <ion-list-header mode="ios">
            <ion-label class="mg-cero">Pendientes de retirar</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of retiros; let i = index;" detail (click)="revisar( item, i )">
            <ion-label>
                <h2 style="font-weight: bold; color: red"><b>(#{{ item.id_paquete}})</b> {{ item.cli_razon }}</h2>
                <b>
                <p>{{ item.cli_direccion }}, {{ item.cli_comuna}}, {{ item.cli_ciudad }}</p>
                <p>Destinatario : {{ item.des_razon }}</p>
                <p>Ingreso : {{ item.fecha_creacion }} - Solicitado : {{ item.fecha_prometida }}</p>
            </b>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
        </ion-item>
    </ion-list>

</ion-content>